@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
/* setup */

html, body, .holster {
	height: 100%;
	-webkit-text-size-adjust: none;
	transition: 0.2s linear;
}

.holster{
	background-image: url("../Images/shutterstock_407554567.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: column nowrap;
	font-family: monospace;
	color: white;
}
.container {
	display: flex;
	overflow: auto;
	flex: none;
}
.container.y {
	width: 100%;
	height: 100%;
	flex-flow: column nowrap;
}
.container.x {
	width: 100%;
	height: 100%;
	flex-flow: row nowrap;
}
span {
	color: #E42B50;
	text-shadow: none;
}
h2{
	color: #E42B50;
}
p {
	font-weight: 800;
}
a {
	text-decoration: none;
}
a:link {
	color: #ffffff;
}
a:visited {
	color: #720017;
}
a:focus {
	border-bottom: 1px solid;
	background: #80837d;
}
a:hover {
	border-bottom: 1px solid;
	color: #E42B50;
}
a:active {
	background: #265301;
	color: #720017;
}
/* bouton dark mode */
#nuit  {
	position: absolute;
	right: 1em;
	top: 1em;
}
.checkbox{
	display: none;
}
.label{
	height: 26px;
	width: 50px;
	background: rgba(29, 29, 29, 0.8);
	padding: 5px 8px;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative; 
	transform: scale(1.2);
	box-shadow: 1px 1px 1px #ffffff;
}
.label .ball{
	background-color: #aaaaaa;
	border-radius: 50%;
	height: 26px;
	width: 26px;
	position: absolute;
	top: 5px;
	left: 4px;
	transform: translateX(0px);
	transition: transform 0.4s cubic-bezier(.45, -1.12, .35,1.78);
}
.checkbox:checked + .label .ball {
	transform: translateX(29px);
}
.bxs-moon{
	color: rgb(233, 233, 233);
}

/* presentation section style */
#presentation{
	text-align: left;
	font-weight: 400;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	font-size: 1.2em;
}
.logo {
	width: 100%;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 600;
	font-size: 2rem;
	color: #ffffff;
	box-sizing: border-box;
	text-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-align: left;
	padding: 1em;
}
.text-1{
	width: 90%;
	text-align: left;
	padding: 1em;

}
.text-2{
	font-weight: 600;
	text-shadow: none;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	font-variant: small-caps;
	padding: 1em;
	font-size: 3em;
}
.text-3 {
	width: 90%;
	text-align: left;
	padding: 2em;

}
.text-4{
	width: 90%;
	text-align: left;
	padding: 1em;

}

/* Information section style */

#softskill , #Langues , #centresdinteret , #contact {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	font-weight: 600;
	height: 50%;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 1em;
}
#softskill ul{
	padding-left: 0px;
}
#softskill ul li {
	padding-bottom: 5px;
}
#softskill ul{
	list-style-type: none;
}
.bars{
	padding: 10px;
}
#Langues .line{/* progress bar */
    height: 5px;
    width: 60%;
    background: #D4CFD0;
	align-content: center;
    position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 2.5px;
	box-shadow: 1.5px 1px  rgba(255, 255, 255, 0.5);
    transition: 0.4s linear;  
    transition-property: width, background-color;
}
@keyframes progressAnimation {
	0%   { width: 5%; background-color: #F9BCCA;}
	100% { width: 100%; background-color: #E42B50; }
}
@keyframes progressAnimation1 {
	0%   { width: 5%; background-color: #F9BCCA;}
	100% { width: 80%; background-color: #E42B50; }
}
@keyframes progressAnimation2 {
	0%   { width: 5%; background-color: #F9BCCA;}
	100% { width: 50%; background-color: #E42B50; }
}
.reveal-visible .line::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #E42B50;
}
.reveal-visible .Francais::before{
	width: 100%;
    animation: progressAnimation 2s;
	animation-delay: 600ms;
}
.reveal-visible .Anglais::before{
	width: 50%;
    animation: progressAnimation2 2s;
	animation-delay: 600ms;
}
.reveal-visible .Arabe::before{
	width: 100%;
    animation: progressAnimation 2s;
	animation-delay: 600ms;
}/* progress bar */
#Langues span{
	color: white;
}

#contact ul{
	list-style-type: none
}
#contact li{
	padding-top: 5px;
	padding-bottom: 5px;
}

/* diplome section style */
#diplome{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	color: #ffffff;
	font-size: 1em;
	padding: .7em;
}

/* competence section style */
#competence{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	padding-top: 10%;
	font-size: 1.3em;
}
.comp{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	font-weight: 600;
	height: 50%;
	margin-top: auto;
	margin-bottom: auto;
}
/* Logiciels section style */
#Logiciels{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	font-size: 1.3em;
}
/* experience section style */
#experience{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	font-size: 1.2em;
	padding: .6;
}
/* conclusion section style */
#conclusion{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	font-size: 1.2em;
}

.icons{
    display: flex;
	flex-flow: nowrap;
	justify-content: center;  
}
.links{
    list-style: none;
	padding: 5px;
}
.links i{
    font-size: 40px;
    padding: 5px;
    margin-top: 35px;
    color: #E42B50;  
}

/* scroll-snap */
.y.mandatory-scroll-snapping {
	scroll-snap-type: y mandatory;
}
.x.mandatory-scroll-snapping {
	scroll-snap-type: x mandatory;
}
.container > div {
	text-align: center;
	scroll-snap-align: center;
	flex: none;
}
.y.container > div {
	width: 100%;
	height: 100%;
}
.x.container > div {
	width: 100%;
	height: 100%;
}
/* dark mode */
.jour{
	background-image: url("../Images/imageonline-co-invertedimage.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: column nowrap;
	font-family: monospace;
	color: white;
	color: rgb(29, 29, 29);
}

.jour .label {
	box-shadow: 1px 1px 1px #000000;
	background-color: #a7a7a7ee;
}
.jour .logo , .jour #Langues span , .jour #presentaion , .jour #diplome{
	color: rgb(29, 29, 29);
}
.jour .label .ball{
	background-color: rgba(29, 29, 29, 0.904);
}
.jour a:link {
	color: rgb(29, 29, 29);
}
.jour a:visited {
	color: #720017;
}
.jour a:focus {
	border-bottom: 1px solid;
	background: rgb(29, 29, 29);
}
.bxs-moon{
	color: rgba(255, 255, 255, 0.8);
}

.reveal{
	opacity: 0;
}
.reveal-visible {
	opacity: 1;
	transition-duration: .65s;
}
/* direction */
.direction {
	display: flex;
	justify-content: space-around;  
	align-items: center ;
}
.colonne {
	width: 80%;
	padding-left: 8%;
}
.coloneDirection{
	width: 10%;
}
@media (min-width: 890px){
	body {
		font-size: 1.5em;
	}
}
